---
import { Image } from 'astro:assets';

const variantColors = [
  { background: '#222', color: '#f8f7f1' },
  { background: '#552e21', color: '#f8f7f1' },
  { background: '#dadada', color: '#222' },
  { background: '#D4D7B9', color: '#222' },
  { background: '#4A6D7C', color: '#f8f7f1' },
];

interface Props {
  headline?: string;
  statement?: string;
  variant: number;
  url?: string;
  logo?: ImageMetadata;
  subtitle?: string;
}

const { headline, statement, variant = 0, url, logo, subtitle } = Astro.props;

const colors = variantColors[variant];
---

{
  url ? (
    <a href={url} style={{ background: colors.background, color: colors.color, textDecoration: 'none' }}>
      {logo ? <Image src={logo} alt="logo" /> : <h3>{headline || 'LinkedIn'}</h3>}

      <p class="subtitle">{subtitle}</p>
    </a>
  ) : (
    <div style={{ background: colors.background, color: colors.color }}>
      <h3>{headline}</h3>
      <p>{statement}</p>
    </div>
  )
}

<style>
  div,
  a {
    padding: 16px;
    border-radius: 10px;
    height: 180px;
    width: 240px;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  }
  a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  h3 {
    font-family: 'Helvetica Now Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

  p {
    font-family: 'JetBrains Mono';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }
  img {
    height: 36px;
    width: auto;
  }

  @media screen and (min-width: 640px) {
    div,
    a {
      padding: 20px;
      border-radius: 14px;
      height: 220px;
      width: 300px;
    }

    h3 {
      font-size: 32px;
    }

    p {
      font-size: 10px;
    }
    img {
      height: 45px;
    }
  }
  @media screen and (min-width: 1024px) {
    div,
    a {
      padding: 24px;
      border-radius: 16px;
      height: 260px;
      width: 360px;
    }
    h3 {
      font-size: 36px;
    }

    p {
      font-size: 12px;
    }
    img {
      height: 54px;
    }
  }

  @media screen and (min-width: 1440px) {
    div,
    a {
      padding: 32px;
      border-radius: 16px;
      height: 300px;
      width: 420px;
    }

    h3 {
      font-size: 40px;
    }

    p {
      font-size: 14px;
    }
    img {
      height: 62px;
    }
  }
</style>
