---
import { Image } from 'astro:assets';

export interface Props {
  headline?: string;
  statement?: string;
  url?: string;
  logo?: ImageMetadata;
  subtitle?: string;
  class: string;
}

const { headline, statement, url, logo, subtitle, class: className } = Astro.props;
---

{
  url ? (
    <a href={url} class={className}>
      {logo ? <Image src={logo} alt="logo" /> : <h3>{headline || 'LinkedIn'}</h3>}

      <p class="subtitle">{subtitle}</p>
    </a>
  ) : (
    <div class={className}>
      <h3>{headline}</h3>
      <p>{statement}</p>
    </div>
  )
}

<style>
  .card-onyx {
    background-color: var(--onyx);
    color: var(--ivory-white);
  }
  .card-dark-walnut {
    background-color: var(--dark-walnut);
    color: var(--ivory-white);
  }
  .card-sage-green {
    background-color: var(--sage-green);
    color: var(--color-black);
  }
  .card-blue-gray {
    background-color: var(--blue-gray);
    color: var(--ivory-white);
  }

  .card-ash-gray {
    background-color: var(--ash-gray);
    color: var(--color-black);
  }
  div,
  a {
    padding: 16px;
    border-radius: 10px;
    height: 180px;
    width: 240px;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
    overflow: visible;
  }
  a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  h3 {
    font-family: 'Helvetica Now Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    max-width: 70%;
  }

  p {
    font-family: 'JetBrains Mono';
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }
  img {
    height: 36px;
    width: auto;
  }

  @media screen and (min-width: 640px) {
    div,
    a {
      padding: 20px;
      border-radius: 14px;
      height: 220px;
      width: 300px;
    }

    h3 {
      font-size: 32px;
    }

    p {
      font-size: 10px;
    }
    img {
      height: 45px;
    }
  }
  @media screen and (min-width: 1024px) {
    div,
    a {
      padding: 24px;
      border-radius: 16px;
      height: 260px;
      width: 360px;
    }
    h3 {
      font-size: 36px;
    }

    p {
      font-size: 12px;
    }
    img {
      height: 54px;
    }
  }

  @media screen and (min-width: 1440px) {
    div,
    a {
      padding: 32px;
      border-radius: 16px;
      height: 300px;
      width: 420px;
    }

    h3 {
      font-size: 40px;
    }

    p {
      font-size: 14px;
    }
    img {
      height: 62px;
    }
  }
</style>
