---
import EmailNotification from './EmailNotification.astro';

const pathname = Astro.url.pathname;
const navProps = {
  links: [
    {
      title: 'Home',
      href: '/',
    },
    {
      title: 'About',
      href: '/about/',
    },
    {
      title: 'Email',
      href: 'mailto:jason@schulz.studio',
    },
  ],
};
const findActiveLinkIndex = (links: { href: string }[]) => {
  const activeLinkIndex = links.findIndex((link) => link.href === pathname);
  return activeLinkIndex;
};
const activeLinkIndex = findActiveLinkIndex(navProps.links);
---

<>
  <nav class={'nav-container'}>
    {
      navProps.links.map((link, index) => (
        <a href={link.href} data-active={index === activeLinkIndex}>
          {link.title}
        </a>
      ))
    }
    <span class="slider"></span>
  </nav>
  <EmailNotification />
</>
<script>
  const nav = document.querySelector('nav') as HTMLElement;
  const links = nav?.querySelectorAll('a') as NodeListOf<HTMLElement>;
  const slider = nav?.querySelector('.slider') as HTMLElement;
  const activeLink = nav.querySelector('a[data-active]') as HTMLElement;
  function setSliderPosition(position: number) {
    if (slider) {
      const linkWidth = activeLink.offsetWidth;
      const linkTop = activeLink.offsetTop;
      const linkBottom = linkTop + activeLink.offsetHeight;
      const linkStyle = getComputedStyle(activeLink);
      const { borderRadius } = linkStyle;
      const sliderStyles = { display: 'block', width: `${linkWidth}px`, top: `${linkTop}px`, bottom: `${linkBottom}px`, height: `${linkBottom - linkTop}px`, 'border-radius': borderRadius, transform: `translateX(${position}px)` };
      Object.assign(slider.style, sliderStyles);
    }
  }
  function handleMouseEnter(this: HTMLElement) {
    const sliderPosition = this.offsetLeft;
    setSliderPosition(sliderPosition);
  }

  function handleMouseLeave() {
    setSliderPosition(activeLink?.offsetLeft);
  }

  function handleResize() {
    setSliderPosition(activeLink?.offsetLeft);
  }

  links.forEach((link) => {
    link.addEventListener('mouseenter', handleMouseEnter);
  });

  setSliderPosition(activeLink?.offsetLeft);

  nav.addEventListener('mouseleave', handleMouseLeave);

  window.addEventListener('resize', handleResize);

  window.addEventListener('beforeunload', () => {
    links.forEach((link) => {
      link.removeEventListener('mouseenter', handleMouseEnter);
    });
    nav.removeEventListener('mouseleave', handleMouseLeave);
    window.removeEventListener('resize', handleResize);
  });
</script>
<style>
  nav {
    position: sticky;
    top: 12px;
    margin: 0 auto;
    display: flex;
    width: 296px;
    padding: 4px;
    justify-content: space-around;
    flex-shrink: 0;
    background: #fff;
    border-radius: 10px;
    z-index: 1000;
  }
  a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #222;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    font-family: 'Helvetica Now Display';
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    padding: 11.5px 0;
    height: 31px;
    position: relative;
    z-index: 1;
  }
  nav .slider {
    position: absolute;
    left: 0;
    background-color: #ffd600;
    z-index: 0;
    display: none;
    transition: transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
  }

  nav a:hover + .slider {
    transition: transform 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  }
  @media screen and (min-width: 640px) {
    nav {
      width: 396px;
      padding: 6px;
      border-radius: 14px;
      top: 24px;
    }
    a {
      padding: 13.5px 0;
      border-radius: 8px;
      font-size: 12px;
      height: 36px;
    }
  }
  @media screen and (min-width: 1024px) {
    nav {
      width: 424px;
      padding: 8px;
      border-radius: 16px;
      top: 36px;
    }
    a {
      padding: unset;
      border-radius: 8px;
      font-size: 14px;
      height: 40px;
    }
  }
  @media screen and (min-width: 1440px) {
    nav {
      width: 464px;
      padding: 10px;
      border-radius: 20px;
      top: 48px;
    }
    a {
      padding: 17.5px 0;
      border-radius: 10px;
      font-size: 16px;
      height: 46px;
    }
  }
</style>
