---
import { Image } from 'astro:assets';
import logoAs from '../../public/images/stickers/as-logo.png';
import stickerAbout from '../../public/images/stickers/Memoji_About.png';
import stickerHome from '../../public/images/stickers/Memoji_Home.png';

export interface Props {
  stickerType: 'memoji-about' | 'memoji-home' | 'logo-as';
}
const { stickerType } = Astro.props;
const stickerProps = stickerType.split('-');

const imageCategory = stickerProps[0];
const imageIdentifier = stickerProps[1];

const returnImage = () => {
  switch (imageCategory) {
    case 'memoji':
      switch (imageIdentifier) {
        case 'about':
          return {
            altText: 'Jason Schulz Memoji with peace fingers',
            src: stickerAbout,
            className: 'memoji',
          };

        default:
          return {
            altText: 'Jason Schulz Memoji with a pensive expression',
            src: stickerHome,
            className: 'memoji',
          };
      }
    default:
      return {
        altText: 'Anton Schulz logo',
        src: logoAs,
        className: 'logo',
        isLink: true,
        href: 'https://antonschulz.com',
      };
  }
};

const stickerData = returnImage();
---

<div class={stickerData.className}>
  {
    stickerData.href ? (
      <a href={stickerData.href} target="_blank">
        <Image src={stickerData.src} alt={stickerData.altText} />
      </a>
    ) : (
      <Image src={stickerData.src} alt={stickerData.altText} />
    )
  }
</div>

<style>
  div {
    height: 120px;
    width: 120px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
    border-radius: 100px;
    background: #fff;
    display: flex;
    align-self: flex-end;
    position: relative;
    transition: scale 1s ease;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div:has(a:hover) {
    transform: scale(1.01);
  }
  .logo {
    background-color: #d4d7b9;
  }

  .memoji {
    background-color: #ffd600;
  }

  img {
    object-fit: contain;
    width: 80px;
    height: 80px;
  }

  @media screen and (min-width: 640px) {
    div {
      padding: 20px;
      border-radius: 100px;
      height: 150px;
      width: 150px;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  @media screen and (min-width: 1024px) {
    div {
      padding: 25px;
      height: 180px;
      width: 180px;
    }

    img {
      width: 115px;
      height: 115px;
    }
  }

  @media screen and (min-width: 1440px) {
    div {
      padding: 25px;
      height: 210px;
      width: 210px;
    }

    img {
      width: 140px;
      height: 140px;
    }
  }
</style>
